extensions:
	webloader: WebLoader\Nette\Extension
	console: Kdyby\Console\DI\ConsoleExtension
parameters:
	cheatsheetsDir: %appDir%/cheatsheets

php:
	date.timezone: Europe/Prague
nette:
	application:
		mapping:
			*: App\*Module\Presenters\*Presenter
	session:
		expiration: 14 days
services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	- App\Cheatsheets\FileRepository
	- App\Cheatsheets\CheatsheetReader
	- App\Cheatsheets\CheatsheetPathFormatter(%cheatsheetsDir%)
	- App\Pdf\PdfGenerator(%wkhtmltopdfBinary%)
	- App\Cheatsheets\PdfPathFormatter(%wwwDir%/pdf)
	- App\Cheatsheets\PdfGenerator
	- {class: App\Commands\CreatePdfCommand, tags: [kdyby.console.command]}
webloader:
	css:
		cheatsheets:
			files:
				- %wwwDir%/dist/css/cheatsheets.css
		web:
			files:
				- %wwwDir%/dist/css/web.css
		cheatsheetsWeb:
			files:
				- %wwwDir%/dist/css/cheatsheets.css
				- %wwwDir%/dist/css/cheatsheets-web.css

