<!DOCTYPE html>
<html lang="{$cheatsheet->locale}">
<head>
	<title>{$cheatsheet->title}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta charset="UTF-8">
	{control css}
</head>
<body>
{include #content}
</body>
</html>